<nav class="navbar sticky-top navbar-expand-md bg-light p-3 text-dark" style="font-family: Arial, sans-serif;">
  <span class="navbar-brand mb-0 h6" style="font-size: 25px;">Artist Search</span>
  <button class="navbar-toggler" type="button" (click)="openNav()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end buttonGap" id="navbarContent">
    <ng-container *ngIf="isNotLogin; else loginScene">
      <div class="d-flex flex-column flex-md-row gap-2 ms-md-auto">
        <button type="button" class="btn text-start text-md-center"
          [ngClass]="{ 'btn-primary active': selectedButton === 'search', 'btn-link text-decoration-none text-black': selectedButton !== 'search' }"
          (click)="selectButton('search')">
          Search
        </button>

        <button type="button" class="btn text-start text-md-center"
          [ngClass]="{ 'btn-primary active': selectedButton === 'login', 'btn-link text-decoration-none text-black': selectedButton !== 'login' }"
          (click)="selectButton('login')">
          Log in
        </button>

        <button type="button" class="btn text-start text-md-center"
          [ngClass]="{ 'btn-primary active': selectedButton === 'register', 'btn-link text-decoration-none text-black': selectedButton !== 'register' }"
          (click)="selectButton('register')">
          Register
        </button>
      </div>
    </ng-container>
    <ng-template #loginScene>
      <div class="d-flex flex-column flex-md-row gap-2 ms-md-auto ">
        <button type="button" class="btn text-start text-md-center"
          [ngClass]="{ 'btn-primary active': selectedLoginButton === 'search', 'btn-link text-decoration-none text-black': selectedLoginButton !== 'search' }"
          (click)="selectLoginButton('search')">
          Search
        </button>

        <button type="button" class="btn text-start text-md-center"
          [ngClass]="{ 'btn-primary active': selectedLoginButton === 'favor', 'btn-link text-decoration-none text-black': selectedLoginButton !== 'favor' }"
          (click)="selectLoginButton('favor')">
          Favorites
        </button>
        <div class="dropdown ms-md-3">
          <button
            class="btn btn-link text-decoration-none text-black dropdown-toggle d-flex align-items-center gap-2 p-0"
            type="button" data-bs-toggle="dropdown" aria-expanded="false" >
            <img [src]="url" alt="Avatar" class="rounded-circle" width="32" height="32">
            <span class="fw-normal">{{ userFullname }}</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end shadow ">
            <li><button class="dropdown-item text-danger" (click)="deleteAccount()">Delete Account</button></li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li><button class="dropdown-item text-primary" (click)="logout()">Log out</button></li>
          </ul>
        </div>
      </div>
    </ng-template>
  </div>
</nav>
<div
  *ngFor="let alert of alertQueue"
  class="position-fixed end-0 mt-2 me-2 alert alert-dismissible fade show"
  [ngClass]="'alert-' + alert.type"
  style="z-index: 100; width: auto; transition: top 0.3s;"
  [style.top.px]="80 + (alertQueue.indexOf(alert) * 70)"
>
  {{ alert.message }}
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="removeAlert(alert.id)"
  ></button>
</div>
<main class="main">
  <app-search *ngIf="selectedButton === 'search' || selectedLoginButton === 'search'" [favorites]="favorites"
    [isNotLogin]="isNotLogin" [email]="email" (updateFavorites)="favorites = $event" (showAlert)="showAlert($event.message, $event.type)"></app-search>
  <app-login *ngIf="selectedButton === 'login'" (registerPage)="selectButton('register')"
    (onLogin)="handleLogin($event.fullname, $event.url, $event.email, $event.favorites)"></app-login>
  <app-register *ngIf="selectedButton === 'register'" (loginPage)="selectButton('login')"
    (onRegister)="handleLogin($event.fullname, $event.url, $event.email, $event.favorites)"></app-register>
  <app-favorites *ngIf="!isNotLogin && selectedLoginButton === 'favor'" [favorites]="favorites" [email]="email" (updateFavorites)="favorites = $event" 
  (showAlert)="showAlert($event.message, $event.type)" (searchPage)="selectLoginButton('search')"></app-favorites>
</main>



<footer class="text-center p-3 fixed-bottom">
  <a href="https://www.artsy.net/" class="text-white text-decoration-none">
    Powered by <img src="../assets/images/artsy_logo.svg" alt="Artsy Logo" width="20px"> Artsy.
  </a>
</footer>